body{
	background-color:grey;
	background-image:url('fsulogo.png');
	background-position:center;
	background-repeat:no-repeat;
}
#menubutton{
	transform:rotate(180deg);
	transition:transform 1s;
}
#menubutton:hover{
	transform:rotate(0deg);
	transition: transform 1s;
}
