body{
	background-color:grey;
	background-image:url('fsulogo.png');
	background-position:center;
	background-repeat:no-repeat;
}
#menubutton{
	transition:transform 0.2s;
}
#testwindow{
	height:100;
	width:200;
}
