body{
	padding:0px;
	margin:0px;
}
div.topbar{
	background-color:white;
	box-shadow: 0px 0px 3px black;
	width:100%;
	height:100px;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:0px;
	padding:4px;
}
div.faketbar{
	position:absolute;
	left:100px;
}
img.logo{
	height:80px;
	margin:8px;
	float:right;
}
img.menubutton{
	transform:rotate(90deg);
	height:80px;
	margin:8px;
}
img.menuopen{
	transform:rotate(270deg);
	height:40px;
	margin:4px;
}
div.page{
	padding-top:120px;
	margin:0px;
}
div.dialog{
	background-color:white;
	background: linear-gradient(to bottom, white, white, white, red);
	box-shadow: 0px 0px 3px black;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:36px;
}
button{
	height:90px;
}
div{
}
