div.toolbar{
	background-color:white;
	background: linear-gradient(to top, white, grey);
	width:100%;
	padding:3px;
	position:relative;
}
div.subtoolbar{
	background-color:white;
	background: linear-gradient(to top, white, #c5c5c5);
	width:100%;
	padding:3px;
	position:relative;
}
button.tbutton{
	background-color: white;
	background: linear-gradient(to bottom, #dadada, #c5c5c5);
	border: 1px solid #a5a5a5;
	color: black;
	border-radius: 3px;
	text-shadow: 1px 1px 0px white;
	vertical-align: center;
	padding:4px;
	margin:3px;
}
button.tabbtnsel{
	background-color: #c5c5c5;
	border: 1px solid grey;
	border-style: solid solid none solid;
	color: black;
	border-radius: 3px 3px 0px 0px;
	text-shadow: 1px 1px 0px white;
	vertical-align: center;
	padding:4px;
	margin:3px;
	margin-bottom:0px;
}
button.tabbutton{
	background-color: white;
	background: linear-gradient(to top, grey, #c5c5c5);
	border: 1px solid grey;
	color: black;
	border-radius: 3px 3px 0px 0px;
	text-shadow: 1px 1px 0px white;
	vertical-align: center;
	padding:4px;
	margin:3px;
	margin-bottom: 0px;
}
div.tabbar{
	background-color:white;
	background: linear-gradient(to top, grey,white,white, white);
	width:100%;
	padding:3px;
	padding-bottom:0px;
	position:relative;

}
div.tab{
	background-color:#c5c5c5;
	border-radius: 0px 0px 3px 3px;
}
button.tbutton:active{
	background: linear-gradient(to top, #dadada, #c5c5c5);
}
button.tbutton:focus, button.button:focus, button.toggled:focus, input.button:focus{
	padding: 3px;
	border:2px solid #febe10;
}
button.toggled{
	background-color: white;
	background: linear-gradient(to top, white, #c5c5c5);
	border: 1px solid #a5a5a5;
	color: black;
	border-radius: 3px;
	text-shadow: 1px 1px 0px white;
	vertical-align: center;
	padding:4px;
	margin:3px;
}
select, button.button, input.button{
	background-color: white;
	background: linear-gradient(to bottom, #e1e1e1, #c5c5c5);
	border: 1px solid #a5a5a5;
	color: black;
	border-radius: 3px;
	text-shadow: 1px 1px 0px white;
	padding:4px;
	margin:3px;
}
select:active, button.button:active, input.button:active{
	background: #a5a5a5;
}
img.stock{
	padding: 3px;
	height:20px;
}
.filltext{
	width:100%;
	height:256px;
	background-color: #c5c5c5;
	border: 1px solid #a5a5a5;
	border-radius:3px;
	margin:3px;
	overflow:auto;
}
.hidden{
	display:none;
}
input.text{
	background-color: #c5c5c5;
	border: 1px solid #a5a5a5;
	border-radius:3px;
	padding:2px;
	margin:3px;
}
input.text:focus{
	border:2px solid #febe10;
	padding:1px;
}
div.section{
	border: 1px solid #a5a5a5;
	margin:5px;
	padding:5px;
	border-radius: 3px;
}
.tabledata{
	border: 1px solid #a5a5a5;
}
